body{
    background-color: black;
    color: white;
    font-family: 'Space Grotesk';
    margin-top: 10px;
}



section {
    padding-bottom: 4rem;
    padding-top: 4rem;
    
}

.bg-black-light{
    background-color: #141414 !important;
    color: white !important;
}

.card{
    border-radius: 1rem;
}
.card-body{
    padding: 2rem;
}

.main-text {
    font-size: 50px;
    font-weight: 800;

}

.green {
    background-color: #b0f127;
}

.green-t {
    color: #b0f127;
}
.navi{
    text-decoration: none;
}

/* BTN */
.btn {
    border-radius: 100px;
    border-color: #b0f127 !important;
    padding: 1rem 2.5rem !important;
    font-size: 16px;
    font-weight: 600;
}
.btn:hover, .btn.btn-outline-light:hover{
    background-color: #b0f127 !important;
    border-color: #b0f127 !important;
    color: black !important;

}
.green .btn.btn-outline-dark{
    border-color: #141414 !important;
}
.green .btn:hover, .btn.btn-outline-dark:hover{
    background-color: #141414 !important;
    border-color: #141414 !important;
    color: white !important;
}

.bj {
    width: 400px;
}

.hero-page {
    margin-top: 150px;
}

.tab {
    box-sizing: border-box;
    border: solid white;
    border-radius: 30px;
    width: 70rem;
    margin: 55px;
}

.rad{
    border-radius: 10px;
}
.mg{
    margin-left: 400px;
}

@media (max-width:768px) {
    section{
        text-align: center;
        font-size: small;   
    }
    .btcol{
        display: block;
        flex-direction: column;
    }
    .tab{
        width: auto;
        margin: auto;
    }
    .btn{
        display: block;
        flex-direction: column;
    }
    .bj{
        width: auto;
    }
    .main-text {
        font-size: 30px;
        font-weight: 600;
    
    }
    .spl{
        display: flex;
        flex-direction: column;
        width: auto;
        margin: auto;
    }    
}

